# PyInstaller & Build
build/
dist/
*.spec
*.pkg

# Python Cache
__pycache__/
*.pyc

# Local Configs & Logs
*.log
.env
config.json

# Binaries (Optional: Falls du ffmpeg.exe nicht im Repo willst)
# ffmpeg.exe
# ublock.crx

# OS specific
.DS_Store
Thumbs.db